.button1{border-color:#082A4A ; background-color: #2E82D0; border: 1px solid;padding: 10px;}
#hero{background-image: url(pro.png.png);background-size: cover;background-position: center;padding-top: 230px;padding-bottom: 230px;}
.marginb{margin-bottom: 150px;}
#hero3{background-color: #EEF2F6;}
.bg-1{background-color: #5A154A; height: 395px; }
.bg-2{background-color: #A13172; height: 395px;}
.bg-3{background-color: #E73056; height: 395px;}
.bg-4{background-color: #F28A19;height: 395px;}
.bg-5{background-color: #77AC43; height: 395px;}
.bg-6{background-color: #235683; height: 395px;}
.bg-7{background-color: #48B2BC; height: 395px;}
.bg-8{background-color: #279A96; height: 395px; margin-bottom: 200px;}
#box1{margin-bottom: 50px;}
#box2{margin-bottom: 100px;}
#hero5{background-color:#DDDDDD ;}
#hero6{background-color: #082A4A;}